<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <br>
            <h1 [ngStyle]="{'color':'white','background-color':'#000000','text-align':'center','font-family': 'Cooper Black'}">{{ muestrainformacion }}</h1>
            <br>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 col-lg-6 mt-3">
            <div class="card" >
                <img src="/assets/Scratch1.png" class="card-img-top" alt="Foto1">
                <div class="card-body">
                    <h5 [style.font-size]="propertyBinding" class="card-title">Programación para Niños - Scratch</h5>
                    <p class="card-text">Navega en el mundo de la programación y descubre movimientos que puedes dar a tus personajes a través de bloques de programación y retos por resolver.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

            <div class="col-12 col-sm-6 col-lg-6 mt-3">
                <div class="card" >
                    <img src="/assets/curso%20ilustrator.jpg" class="card-img-top" alt="Foto2">
                    <div class="card-body">
                        <h5 [style.font-size]="propertyBinding" class="card-title">Ilustrator para Principiantes</h5>
                        <p class="card-text">Aprende Adobe Illustrator desde cero, descubre las principales herramientas y aplica todo lo aprendido en proyectos gráficos tanto impresos como digitales.
                        </p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

        <div class="col-12 col-sm-6 col-lg-6 mt-3">
            <div class="card" >
                <img src="/assets/IMAGEN-1.png" class="card-img-top" alt="Foto3">
                <div class="card-body">
                    <h5 [style.font-size]="propertyBinding" class="card-title">Modelado Básico en 3D con Maya</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-6 mt-3">
            <div class="card">
                <img src="/assets/IMAGEN-1.png" class="card-img-top" alt="Foto4">
                <div class="card-body">
                    <h5 [style.font-size]="propertyBinding" class="card-title">Fotografía de Cero a Pro</h5>
                    <p class="card-text">Captura momentos inolvidables. Únete a nuestro curso de fotografía y desarrolla tu talento visual. ¡Explora, aprende, crea recuerdos eternos!.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br> <br>

<div class="container" id="home1" style="display: none">
    <div class="row">
        <div class="col-sm-6 col-lg-7" >
            <img src="img/EMBARAZO1.png" alt="">
        </div>

        <div class="col-sm-3" >
            <H3> Sesiones de fotos embarazo</H3>
            <p> Este paquete incluye:</p>
            <li>
                5 Fotos 13x18 cm
                (Elige el cliente las fotos)

            </li>
            <li>
                2 Fotos 20x30 cm
                (Elige el cliente las fotos)

            </li>
            <li>
                48 horas para modificaciones desde que se entrega las fotos en digitales.
            </li>

            <li>
                Cualquier foto adicional a editar tiene un valor de $8.
            </li>

            <li>
                Precio de la sesión $100

            </li>
            <li>
                Lugares atrasctivos para la sesion o en estudio
            </li>

            <li>
                En caso de elegir un estilo de fotos creativas el valor será relativo a la idea a realizar

            </li>
            <br>
            <a type="button" class="btn btn-dark float-right" href="https://w.app/Pherlynvelez">Cotiza quí</a>
        </div>
    </div>
</div>


<div class="container" id="home2" style="display: block">
    <div class="row">
        <div class="col-sm-6 col-lg-7" >
            <img src="img/RETRATI-BN.png" alt="Mujer posando agarrando el cabello y su bufanda con mirada posesiva en blanco y negro">
        </div>

        <div class="col-sm-3" >
            <H3> Sesiones de fotos en estudio</H3>
            <p> Este paquete incluye:</p>
            <li>
                4 Fotos 13x18 cm
                (Elige el cliente las fotos)

            </li>
            <li>
                2 Fotos 20x30 cm
                (Elige el cliente las fotos)

            </li>
            <li>
                48 horas para modificaciones desde que se entrega las fotos en digitales.
            </li>

            <li>
                Cualquier foto adicional a editar tiene un valor de $10.
            </li>

            <li>
                Precio de la sesión $120

            </li>
            <li>
                Background navideño a elegir (3 opciones)

            </li>
            <br>
            <a type="button" class="btn btn-dark float-right" href="https://w.app/Pherlynvelez">Compra aquí</a>
        </div>
    </div>
</div>



<div class="container" id="home3" style="display: none">
    <div class="row">
        <div class="col-sm-6 col-lg-7" >
            <img src="img/NAVIDAD1.png" alt="Mujer posando agarrando el cabello y su bufanda con mirada posesiva en blanco y negro">
        </div>

        <div class="col-sm-3" >
            <H3> Sesiones de fotos en estudio</H3>
            <p> Este paquete incluye:</p>
            <li>
                6 Fotos 13x18 cm
                (Elige el cliente las fotos)

            </li>
            <li>
                2 Fotos 20x30 cm
                (Elige el cliente las fotos)

            </li>
            <li>
                48 horas para modificaciones desde que se entrega las fotos en digitales.
            </li>

            <li>
                Cualquier foto adicional a editar tiene un valor de $5.
            </li>

            <li>
                Precio de la sesión $120

            </li>
            <br>
            <a type="button" class="btn btn-dark float-right" href="https://w.app/Pherlynvelez">Compra aquí</a>
        </div>
    </div>


</div>







