<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <br>
            <h1 style="text-align: center; font-family:'Cooper Black'">Cursos disponibles</h1>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 col-lg-6 mt-3">
            <div class="card" >
                <img src="/assets/IMAGEN-1.png" class="card-img-top" alt="Foto1">
                <div class="card-body">
                    <h5 class="card-title">Programación para Niños - Scratch</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <br>
        <br>
            <div class="col-12 col-sm-6 col-lg-6 mt-3">
                <div class="card" >
                    <img src="/assets/curso%20ilustrator.jpg" class="card-img-top" alt="Foto2">
                    <div class="card-body">
                        <h5 class="card-title">Ilustrator para Principiantes</h5>
                        <p class="card-text">Aprende Adobe Illustrator desde cero, descubre las principales herramientas y aplica todo lo aprendido en proyectos gráficos tanto impresos como digitales.
                        </p>
                        <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

        <div class="col-12 col-sm-6 col-lg-6 mt-3">
            <div class="card" >
                <img src="/assets/IMAGEN-1.png" class="card-img-top" alt="Foto3">
                <div class="card-body">
                    <h5 class="card-title">Modelado Básico en 3D con Maya</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-6 mt-3">
            <div class="card">
                <img src="/assets/IMAGEN-1.png" class="card-img-top" alt="Foto4">
                <div class="card-body">
                    <h5 class="card-title">Fotografía de Cero a Pro</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>










