<h1>Curso disponibles</h1>
<br>
<div class="card" style="width: 18rem;">
    <img src="/assets/IMAGEN%201.png" class="card-img-top" alt="Foto1">
    <div class="card-body">
        <h5 class="card-title">Programación para Niños - Scratch</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="/assets/IMAGEN%201.png" class="card-img-top" alt="Foto2">
    <div class="card-body">
        <h5 class="card-title">Ilustrator para Principiantes</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="/assets/IMAGEN%201.png" class="card-img-top" alt="Foto3">
    <div class="card-body">
        <h5 class="card-title">Modelado Básico en 3D con Maya</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="/assets/IMAGEN%201.png" class="card-img-top" alt="Foto4">
    <div class="card-body">
        <h5 class="card-title">Fotografía de Cero a Pro</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="/assets/IMAGEN%201.png" class="card-img-top" alt="Foto3">
    <div class="card-body">
        <h5 class="card-title">Modelado Básico en 3D con Maya</h5>
        <p class="card-text">En este curso podrás potenciar tus habilidades para crear modelos tridimensionales
            realistas partiendo de una imagen de referencia en dos dimensiones. Estos modelados serán la base
            para futuros escenarios, props de personajes, animaciones y renderizados</p>
        <a href="#" class="btn btn-primary">Potenciar</a>
    </div>
</div>


