<!--<nav class="navbar navbar-expand-lg bg-body-tertiary">-->
<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark" [ngClass]="{'sticky-top': isNavbarSticky}">
    <!--<nav class="navbar" style="background-color: #e3f2fd;">-->
  <!--<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">-->
     <div class="container-fluid">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->

         <img [src]="imagenUrl" style="height:20px; width:80px" class="card-img-top" alt="Foto1">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">{{inicionavbar}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" (click)="mostrarMensaje()">Nosotros</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cursos
          </a>
          <ul class="dropdown-menu">

              <li *ngFor="let curso of menucursos" (click)="mostrarcurso(curso)"><a class="dropdown-item" [href]="curso.link">{{curso.nombre}}</a></li>
            <!--<li><a class="dropdown-item" href="#">Ilustrator para principiantes</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Modelado básico en 3D</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Fotografía de 0 a Pro</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Programación para niños Scratch</a></li>-->
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
        <div class="contenedor-carrito">
            <i class="bi bi-cart"></i>
        </div>

     <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
       </form>

    </div>
  </div>
</nav>


